.posts {
	color: aliceblue;
	margin-top: 1px;
}

.textArea {
	display: flex;
	background-color: steelblue;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 2px;
	align-items: center;
}

.textArea h3 {
	margin: 0;
	margin-right: 10px;
}

.textArea button {
	border-radius: 20px;
	box-shadow: 0 0 5px white;
	color: white;
	background-color: steelblue;
	font-weight: 800;
	font-size: 0.7em;
	margin-left: 10px;
	width: 100px;
	padding: 10%;
}

.textArea button:hover {
	background-color: darkslateblue;
}

.textArea textarea {
	font-size: medium;
	width: 50%;
	border-radius: 5%;
}