.header {
	grid-area: h;
	background-color: steelblue;
	display: flex;
	/*margin: 1px;*/
	border-radius: 8px;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 93%;
	padding: 2.5px;
	box-shadow: 0 0 7px aliceblue;
}

.header img:nth-child(1) {
	margin-left: 15px;
	margin-right: 10px;
	width: 50px;
}

.header img:nth-child(3) {
	margin-left: 5px;
	margin-right: 10px;
	width: 50px;
}

.header div {
	color: ghostwhite;
	font-size: 32px;
	font-family: 'Cinzel', serif;;
	letter-spacing: 10px;
	font-weight: 700;
}