.nav {
	grid-area: n;
	background-color: steelblue;
	margin: 1px;
}

.item {
	font-size: 22px;
	text-shadow: 0 0 6px darkblue,
	0 0 10px black;
	margin-left: 25px;
	margin-top: 15px;

}

.active {

}

.active a {
	color: aliceblue;
}

