.header {
	grid-area: c;
	background-color: aliceblue;
	margin: 1px;
}

.header img {
	width: 950px;
	height: 300px;
}

.posts {
	color: aliceblue;
	background-color: steelblue;
}

.myPhoto {
	display: flex;
}

.myPhoto img {
	width: 70px;
	height: 100px;
	border-radius: revert;
}